# Build files
build/

src/dsp/reverb/
include/dsp/reverb/
test/reverb/

# CMake files
CMakeFiles/
CMakeCache.txt
Makefile
install_manifest.txt

# Editor configs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
